{% extends "base.html" %}

{% block content %}

    <form action="{{ url_for('post_login') }}" method="post">
        <br>
        <label for="username">Brukernavn</label>
        <input id="username" name="username" required value="{{ form.username if form }}">
        <br>
        <label for="password">Passord</label>
        <input id="password" type="password" name="password" required value="{{ form.password if form }}">
        <br>
        <input type="submit">
    </form>

    {% if redirect_to %}
    <p>Sender deg til {{ redirect_to }}</p>
    {% endif %}

    {% if error_msg %}
    <p style="color:red;">{{ error_msg }}</p>
    {% endif %}

{% endblock %}